
<div class="section container " style="margin-top: 25px;">
    <md-button class="md-raised md-primary white-text left-align waves-ripple" ui-sref="admin.addslider"><span>Add Slide</span></md-button>


    <table class="highlight responsive-table">
        <thead>
        <tr>
            <th data-field="title">Title</th>
            <th data-field="description">Description</th>
            <th data-field="delete">Delete</th>
        </tr>
        </thead>

        <tbody>

        <tr ng-repeat="slide in slider" >
             <td> <a ui-sref="admin.editslider({id: slide._id})">{{slide.title}}</a></td>
            <td>{{slide.description + '...' | limitTo:32; }}</td>
            <td class="col s1"><md-button class="md-raised md-primary waves-effect waves-light btn-small" ng-click="deleteSlide(slide._id)"><i class="material-icons lcsni">delete</i></md-button></td>
        </tr>

        </tbody>
    </table>
</div>

