<div class="wrapper">
    <nav class="white" role="navigation" >
        <div class="nav-wrapper "  flex="">
            <a id="logo-container" href="#" class="brand-logo">INDIEGOGO</a>
            <ul id="logo-container" class="right hide-on-med-and-down">
                <li><a class="waves-effect waves-light default-primary-color btn">Start Campaign</a></li>
                <li><a href="#" class="btn-flat disabled">Sign Up</a></li>
                <li><a href="#" class="btn-flat disabled">Log In</a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav" style="left: -250px;">
                <li><a href="#">Navbar Link</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>


<div class="parallax-container" style="margin: 0px;">
    <div class="row">
        <div class="jcarousel-wrapper">

            <!-- Carousel -->
            <div class="jcarousel" data-jcarousel="true">
                <ul style="left: -1200px; top: 0px;">
                    <li><img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/f_auto/v1450739591/vyosk2ymeh6tdxgl2fqv.jpg" width="633" height="350" alt=""></li>
                    <li><img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/f_auto/v1448396535/luukdmdfvwzvtgywaoje.jpg" width="633" height="350" alt=""></li>
                    <li><img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/f_auto/v1449545990/bosbkzb2uhxklappwubd.jpg" width="633" height="350" alt=""></li>
                    <li><img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/f_auto/v1449545836/vyrrzc7drpzhabhwkp8l.jpg" width="633" height="350" alt=""></li>
                    <li><img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/f_auto/v1452108004/tf8nmcv3ihzv7oefzu6o.jpg" width="633" height="350" alt=""></li>
                    <li><img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/f_auto/v1452627647/nxymnu2joitqi8ifsyhq.jpg" width="633" height="350" alt=""></li>
                </ul>
            </div>

            <!-- Prev/next controls -->
            <a href="#" class="jcarousel-control-prev" data-jcarouselcontrol="true">Prev</a>
            <a href="#" class="jcarousel-control-next" data-jcarouselcontrol="true">Next ›</a>

            <!-- Pagination -->
            <p class="jcarousel-pagination" data-jcarouselpagination="true"><a href="#1" class="active">1</a><a href="#2">2</a></p>

        </div>
    </div>
</div>
<br />

</div>