<center class="container">
    <div class="section"></div>

    <div class="container">
        <div class="card text-center">
            <img class="responsive-img" style="width: 250px;" src="http://i.imgur.com/pIuXv.png" />

            <p>Login or Register with:</p>
            <a href="/login" class="md-login md-raised md-button"><ng-md-icon icon="login" style="fill:white;vertical-align: -webkit-baseline-middle;" size="30" options='{"rotation": "counterclock"}'></ng-md-icon><span class="loginButton">login</span></a>
            <a href="/auth/google" class="md-google md-raised md-button"><ng-md-icon icon="google-plus" style="fill:white;vertical-align: -webkit-baseline-middle;" size="30" options='{"rotation": "counterclock"}'></ng-md-icon><span class="loginButton">google</span></a>
            <a href="/auth/twitter" class="md-twitter md-raised md-button"><ng-md-icon icon="twitter" style="fill:white;vertical-align: -webkit-baseline-middle;" size="30" options='{"rotation": "counterclock"}'></ng-md-icon><span class="loginButton">twitter</span></a>
            <a href="/auth/facebook" class="md-facebook md-raised md-button"><ng-md-icon icon="facebook" style="fill:white;vertical-align: -webkit-baseline-middle;" size="30" options='{"rotation": "counterclock"}'></ng-md-icon><span class="loginButton">facebook</span></a>
        </div>
    </div>
    <div
            class="fb-like"
            data-share="true"
            data-width="450"
            data-show-faces="true">
    </div>
    <a href="/signup">Create account</a>
</center>
<div class="section"></div>
<div class="section"></div>