<div class="row" style="margin-top: 40px">
    <div class="col s4 myClass">
        <div class="adminIconContainer center-align">
            <i class="material-icons adminHomePAgeIcons">beach_access</i>
            <span class="ic1">Campaigns</span>
        </div>
    </div>
    <div class="col s4">
        <div class="adminIconContainer center-align">
            <i class="material-icons adminHomePAgeIcons">note</i>
            <span class="ic2">Blog</span>
        </div>
    </div>
    <div class="col s4">
        <div class="adminIconContainer center-align">
            <i class="material-icons adminHomePAgeIcons">people</i>
            <span class="ic3">Users</span>
        </div>
    </div>
</div>