<div class="container">
    <h3 class="sectionHeader-title">
        Explore categories
    </h3>

    <div class="row">
        <a>
            <div ng-if='mobile'>
                <div class="col s12 mobDiscat " style="background-image: url(https://g1.iggcdn.com/assets/site/home_category_tiles/Desktop/technology-5ac436d107aa72a330c96514c355178f.jpg)">
                </div>
            </div>
            <div ng-if='desktop'>
                <div class="fullDiscat">
                    <div class="fullDiscat-content valign-wrapper" style="background-image: url(https://g1.iggcdn.com/assets/site/home_category_tiles/Desktop/technology-5ac436d107aa72a330c96514c355178f.jpg)">
                        <div class="fullDiscat-background"></div>
                        <div class="valign">
                            <div class="fullDiscat-icon">
                                <span class=""><i style="margin-top: 13px;" class="small material-icons">equalizer</i></span>
                            </div>
                            <div class="fullDiscat-title">
                                Tech
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <a>
            <div ng-if='mobile'>
                <div class="col s12 mobDiscat" style="background-image: url(https://g3.iggcdn.com/assets/site/home_category_tiles/Desktop/film-e1c379598ea8b015578d201350bca8d3.jpg)">
                </div>
            </div>
            <div ng-if='desktop'>
                <div class="fullDiscat">
                    <div class="fullDiscat-content valign-wrapper" style="background-image: url(https://g3.iggcdn.com/assets/site/home_category_tiles/Desktop/film-e1c379598ea8b015578d201350bca8d3.jpg)">
                        <div class="fullDiscat-background"></div>
                        <div class="valign">
                            <div class="fullDiscat-icon">
                                <span class=""><i style="margin-top: 13px;" class="small material-icons">videocam</i></span>
                            </div>
                            <div class="fullDiscat-title">
                                Film
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <a>
            <div ng-if='mobile'>
                <div class="col s12 mobDiscat" style="background-image: url(https://g0.iggcdn.com/assets/site/home_category_tiles/Desktop/small_business-d436828f220fac8478c11a802a548704.jpg)">
                </div>
            </div>
            <div ng-if='desktop'>
                <div class="fullDiscat">
                    <div class="fullDiscat-content valign-wrapper" style="background-image: url(https://g0.iggcdn.com/assets/site/home_category_tiles/Desktop/small_business-d436828f220fac8478c11a802a548704.jpg)">
                        <div class="fullDiscat-background"></div>
                        <div class="valign">
                            <div class="fullDiscat-icon">
                                <span class=""><i style="margin-top: 13px;" class="small material-icons">store</i></span>
                            </div>
                            <div class="fullDiscat-title">
                                Small Business
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <a>
            <div ng-if='mobile'>
                <div class="col s12 mobDiscat" style="background-image: url(https://g0.iggcdn.com/assets/site/home_category_tiles/Desktop/community-407968bb4e62327f5b831111b7bfa5b0.jpg)">
                </div>
            </div>
            <div ng-if='desktop'>
                <div class="fullDiscat">
                    <div class="fullDiscat-content valign-wrapper" style="background-image: url(https://g0.iggcdn.com/assets/site/home_category_tiles/Desktop/community-407968bb4e62327f5b831111b7bfa5b0.jpg)">
                        <div class="fullDiscat-background"></div>
                        <div class="valign">
                            <div class="fullDiscat-icon">
                                <span class=""><i style="margin-top: 13px;" class="small material-icons">settings_input_antenna</i></span>
                            </div>
                            <div class="fullDiscat-title">
                                Community
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <a>
            <div ng-if='mobile'>
                <div class="col s12 mobDiscat" style="background-image: url(https://g2.iggcdn.com/assets/site/home_category_tiles/Desktop/music-75af2e7263fe126083ceee7bbf9db46c.jpg)">
                </div>
            </div>
            <div ng-if='desktop'>
                <div class="fullDiscat">
                    <div class="fullDiscat-content valign-wrapper" style="background-image: url(https://g2.iggcdn.com/assets/site/home_category_tiles/Desktop/music-75af2e7263fe126083ceee7bbf9db46c.jpg)">
                        <div class="fullDiscat-background"></div>
                        <div class="valign">
                            <div class="fullDiscat-icon">
                                <span class=""><i style="margin-top: 13px;" class="small material-icons">surround_sound</i></span>
                            </div>
                            <div class="fullDiscat-title">
                                Music
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>

    </div>

    <div class="row">
        <a>
            <div ng-if='mobile'>
                <div class="col s12 mobDiscat " style="background-image: url(https://g3.iggcdn.com/assets/site/home_category_tiles/Desktop/education-354fae77bb2d314259a806a1f7360272.png)">
                </div>
            </div>
            <div ng-if='desktop'>
                <div class="fullDiscat">
                    <div class="fullDiscat-content valign-wrapper" style="background-image: url(https://g3.iggcdn.com/assets/site/home_category_tiles/Desktop/education-354fae77bb2d314259a806a1f7360272.png)">
                        <div class="fullDiscat-background"></div>
                        <div class="valign">
                            <div class="fullDiscat-icon">
                                <span class=""><i style="margin-top: 13px;" class="small material-icons">equalizer</i></span>
                            </div>
                            <div class="fullDiscat-title">
                                Tech
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <a>
            <div ng-if='mobile'>
                <div class="col s12 mobDiscat" style="background-image: url(https://g2.iggcdn.com/assets/site/home_category_tiles/Desktop/design-e3b929ce94c8922bdb91a776a5741675.png)">
                </div>
            </div>
            <div ng-if='desktop'>
                <div class="fullDiscat">
                    <div class="fullDiscat-content valign-wrapper" style="background-image: url(https://g2.iggcdn.com/assets/site/home_category_tiles/Desktop/design-e3b929ce94c8922bdb91a776a5741675.png)">
                        <div class="fullDiscat-background"></div>
                        <div class="valign">
                            <div class="fullDiscat-icon">
                                <span class=""><i style="margin-top: 13px;" class="small material-icons">videocam</i></span>
                            </div>
                            <div class="fullDiscat-title">
                                Film
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <a>
            <div ng-if='mobile'>
                <div class="col s12 mobDiscat" style="background-image: url(https://g1.iggcdn.com/assets/site/home_category_tiles/Desktop/environment-03bb02849b9ada4515b4532b43bde4c2.png)">
                </div>
            </div>
            <div ng-if='desktop'>
                <div class="fullDiscat">
                    <div class="fullDiscat-content valign-wrapper" style="background-image: url(https://g1.iggcdn.com/assets/site/home_category_tiles/Desktop/environment-03bb02849b9ada4515b4532b43bde4c2.png)">
                        <div class="fullDiscat-background"></div>
                        <div class="valign">
                            <div class="fullDiscat-icon">
                                <span class=""><i style="margin-top: 13px;" class="small material-icons">store</i></span>
                            </div>
                            <div class="fullDiscat-title">
                                Small Busines
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <a>
            <div ng-if='mobile'>
                <div class="col s12 mobDiscat" style="background-image: url(https://g2.iggcdn.com/assets/site/home_category_tiles/Desktop/health-ddc9a4ca96998242e7dfdb83df7ee83b.jpg)">
                </div>
            </div>
            <div ng-if='desktop'>
                <div class="fullDiscat">
                    <div class="fullDiscat-content valign-wrapper" style="background-image: url(https://g2.iggcdn.com/assets/site/home_category_tiles/Desktop/health-ddc9a4ca96998242e7dfdb83df7ee83b.jpg)">
                        <div class="fullDiscat-background"></div>
                        <div class="valign">
                            <div class="fullDiscat-icon">
                                <span class=""><i style="margin-top: 13px;" class="small material-icons">settings_input_antenna</i></span>
                            </div>
                            <div class="fullDiscat-title">
                                Community
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <a>
            <div ng-if='mobile'>
                <div class="col s12 mobDiscat" style="background-image: url(https://g3.iggcdn.com/assets/site/home_category_tiles/Desktop/videoweb-80d31631d36c1fb7202e051359952b33.png)">
                </div>
            </div>
            <div ng-if='desktop'>
                <div class="fullDiscat">
                    <div class="fullDiscat-content valign-wrapper" style="background-image: url(https://g3.iggcdn.com/assets/site/home_category_tiles/Desktop/videoweb-80d31631d36c1fb7202e051359952b33.png)">
                        <div class="fullDiscat-background"></div>
                        <div class="valign">
                            <div class="fullDiscat-icon">
                                <span class=""><i style="margin-top: 13px;" class="small material-icons">surround_sound</i></span>
                            </div>
                            <div class="fullDiscat-title">
                                Music
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>

    </div>

</div>