<div class="container ">
    <div class="row">
        <div class="col s12">
            <ul class="indieTabs" tabs>
                <li class="tab indieTab "><a class="active" href="#top-picks">Top picks for you</a></li>
                <li class="tab indieTab "><a href="#popular">Popular near you</a></li>
                <li class="tab indieTab  hide-on-med-and-down"><a href="#trending">Trending</a></li>
                <li class="tab indieTab  hide-on-med-and-down"><a href="#tech">Technology</a></li>
            </ul>
        </div>
        <div id="top-picks" class="col s12" flex>
            <div class="row" flex>
                <div class="col s6 m6 l3  newCard" flex>
                    <div class="card" flex>
                        <div class="card-image">
                            <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_fill,f_auto,h_361,w_361/v1448145222/fhghlus0spank383jomy.png">
                            <span class="card-title"></span>
                        </div>
                        <div class="card-content">
                            <p>
                                I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.
                            </p>
                            <br />
                            <p><span style="font-weight:800">$350,440</span> USD</p>
                            <div class="progress">
                                <div class="determinate" style="width: 100%"></div>
                            </div>

                        </div>

                    </div>

                </div>
                <div class="col s6 m6 l3  newCard" flex >
                    <div class="card">
                        <div class="card-image">
                            <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_fill,f_auto,h_361,w_361/v1449429139/juysib6yxdy9agpumymo.jpg">
                            <span class="card-title"></span>
                        </div>
                        <div class="card-content">
                            <p>
                                I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.
                            </p>
                            <br />
                            <p><span style="font-weight:800">$1352,801</span> USD</p>
                            <div class="progress">
                                <div class="determinate" style="width: 100%"></div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col s6 m6 l3 newCard"  flex >
                    <div class="card">
                        <div class="card-image">
                            <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_fill,f_auto,h_361,w_361/v1451813344/npnsvfx7ubygh3wwlfqp.png">
                            <span class="card-title"></span>
                        </div>
                        <div class="card-content">
                            <p>
                                I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.
                            </p>
                            <br />
                            <p><span style="font-weight:800">$88,416</span> USD</p>
                            <div class="progress">
                                <div class="determinate" style="width: 30%"></div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col s6 m6 l3 newCard"  flex >
                    <div class="card">
                        <div class="card-image">
                            <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_fill,f_auto,h_361,w_361/v1451390484/nb0awm0j3q7i4orulopw.jpg">
                            <span class="card-title"></span>
                        </div>
                        <div class="card-content">
                            <p>
                                I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.
                            </p>
                            <br />
                            <p><span style="font-weight:800">$3,727</span> USD</p>
                            <div class="progress">
                                <div class="determinate" style="width: 70%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="popular" class="col s12">
            <div class="row">
                <div class="col s6 m6 l3  newCard" flex">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_fill,f_auto,h_361,w_361/v1451882466/ewavaseurx7mcohol2ru.jpg">
                        <span class="card-title"></span>
                    </div>
                    <div class="card-content">
                        <p>
                            I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.
                        </p>
                        <br />
                        <p><span style="font-weight:800">$350,440</span> USD</p>
                        <div class="progress">
                            <div class="determinate" style="width: 100%"></div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="col s6 m6 l3 newCard" flex>
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_fill,f_auto,h_361,w_361/v1450118887/hivuk85mkbfc8iz2phft.jpg">
                        <span class="card-title"></span>
                    </div>
                    <div class="card-content">
                        <p>
                            I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.
                        </p>
                        <br />
                        <p><span style="font-weight:800">$1352,801</span> USD</p>
                        <div class="progress">
                            <div class="determinate" style="width: 100%"></div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col s6 m6 l3 newCard">
                <div class="card  hoverable">
                    <div class="card-image">
                        <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_fill,f_auto,h_361,w_361/v1448000594/i7hjb1ud0xnaqmqparat.png">
                        <span class="card-title"></span>
                    </div>
                    <div class="card-content">
                        <p>
                            I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.
                        </p>
                        <br />
                        <p><span style="font-weight:800">$88,416</span> USD</p>
                        <div class="progress">
                            <div class="determinate" style="width: 30%"></div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col s6 m6 l3 newCard">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_fill,f_auto,h_361,w_361/v1446497199/rsrchfxsswsksdtbkxyp.jpg">
                        <span class="card-title"></span>
                    </div>
                    <div class="card-content">
                        <p>
                            I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.
                        </p>
                        <br />
                        <p><span style="font-weight:800">$3,727</span> USD</p>
                        <div class="progress">
                            <div class="determinate" style="width: 70%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div></div>
    <div id="trending" class="col s12">
        <div class="row">
            <div class="col s6 m6 l3  newCard" flex>
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_fill,f_auto,h_361,w_361/v1451882466/ewavaseurx7mcohol2ru.jpg">
                        <span class="card-title"></span>
                    </div>
                    <div class="card-content">
                        <p>
                            I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.
                        </p>
                        <br />
                        <p><span style="font-weight:800">$350,440</span> USD</p>
                        <div class="progress">
                            <div class="determinate" style="width: 100%"></div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="col s6 m6 l3  newCard" flex>
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_fill,f_auto,h_361,w_361/v1450118887/hivuk85mkbfc8iz2phft.jpg">
                        <span class="card-title"></span>
                    </div>
                    <div class="card-content">
                        <p>
                            I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.
                        </p>
                        <br />
                        <p><span style="font-weight:800">$1352,801</span> USD</p>
                        <div class="progress">
                            <div class="determinate" style="width: 100%"></div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col s6 m6 l3  newCard" flex>
                <div class="card  hoverable">
                    <div class="card-image">
                        <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_fill,f_auto,h_361,w_361/v1448000594/i7hjb1ud0xnaqmqparat.png">
                        <span class="card-title"></span>
                    </div>
                    <div class="card-content">
                        <p>
                            I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.
                        </p>
                        <br />
                        <p><span style="font-weight:800">$88,416</span> USD</p>
                        <div class="progress">
                            <div class="determinate" style="width: 30%"></div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col s6 m6 l3  newCard" flex>
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_fill,f_auto,h_361,w_361/v1446497199/rsrchfxsswsksdtbkxyp.jpg">
                        <span class="card-title"></span>
                    </div>
                    <div class="card-content">
                        <p>
                            I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.
                        </p>
                        <br />
                        <p><span style="font-weight:800">$3,727</span> USD</p>
                        <div class="progress">
                            <div class="determinate" style="width: 70%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="tech" class="col s12">
        <div class="row">
            <div class="col s6 m6 l3  newCard" flex>
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_fill,f_auto,h_361,w_361/v1451882466/ewavaseurx7mcohol2ru.jpg">
                        <span class="card-title"></span>
                    </div>
                    <div class="card-content">
                        <p>
                            I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.
                        </p>
                        <br />
                        <p><span style="font-weight:800">$350,440</span> USD</p>
                        <div class="progress">
                            <div class="determinate" style="width: 100%"></div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="col s6 m6 l3  newCard" flex>
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_fill,f_auto,h_361,w_361/v1450118887/hivuk85mkbfc8iz2phft.jpg">
                        <span class="card-title"></span>
                    </div>
                    <div class="card-content">
                        <p>
                            I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.
                        </p>
                        <br />
                        <p><span style="font-weight:800">$1352,801</span> USD</p>
                        <div class="progress">
                            <div class="determinate" style="width: 100%"></div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col s6 m6 l3  newCard" flex>
                <div class="card  hoverable">
                    <div class="card-image">
                        <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_fill,f_auto,h_361,w_361/v1448000594/i7hjb1ud0xnaqmqparat.png">
                        <span class="card-title"></span>
                    </div>
                    <div class="card-content">
                        <p>
                            I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.
                        </p>
                        <br />
                        <p><span style="font-weight:800">$88,416</span> USD</p>
                        <div class="progress">
                            <div class="determinate" style="width: 30%"></div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col s6 m6 l3  newCard" flex>
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_fill,f_auto,h_361,w_361/v1446497199/rsrchfxsswsksdtbkxyp.jpg">
                        <span class="card-title"></span>
                    </div>
                    <div class="card-content">
                        <p>
                            I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.
                        </p>
                        <br />
                        <p><span style="font-weight:800">$3,727</span> USD</p>
                        <div class="progress">
                            <div class="determinate" style="width: 70%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>