<div id="cf-positioner">
    <div id="cf-nav-container" class="clearfix cf-base-gutter" >
        <div id="cf-nav">
            <div class="cf-logo-container">
                <button class="cf-button cf-button-text" >
                    <div class="cf-menu-button-wrapper">
                        <md-icon id="dehazeIcon" ng-click="openLeftMenu()" class="cf-menu-button">dehaze</md-icon>
                    </div>
                </button>
                    <span class="cf-main-logo-wrapper">
                        <a ui-sref="admin.home" class="cf-logo-link">
                            <!--<img src="img/YouTube-Transparent-Logo.png" id="cf-mainLogo">-->
                        <span id="adminLogo">Korra</span>
                        </a>
                    </span>
            </div>
        </div>
    </div>
</div>